@import url("reset.css");
/* ---------------------------- */
* {
  font-size: 20px;
}
p {
  color: gray;
}
.list a {
  color: blue;
}
.title,
.main-title {
  color: red;
}
#text-selection {
  color: green;
}
[class*="-developer"] {
  color: brown;
}
